@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1{

    padding: 0;
    margin: 0;

    transform: scale(1);
    transition: all 1.3s ease;

}

h1:hover{
    transform: scale(1.03);

}

.header{

    flex: 1;
    color: white;
    text-shadow: rgba(16, 16, 16, 0.76) 10px 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border: medium solid ORANGE;
    padding: 50px 0 50px 0;
    margin: 1.5em;

}

.header > *{


    flex: 1;

}

li{
    list-style: none;
    padding: 10px;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}

body{

    background: linear-gradient(-45deg, #22c1c3, #fdbb2d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 0;
    margin: 0;

    font-family: 'Roboto Mono', monospace;



}
.container{


    display: flex;
    flex-direction: column;
    justify-content: space-around;



}

#CanvasContainer canvas{
    margin: 50px 100px 60px 100px;
    position: relative;
    display: flex;
    flex: 1;
    translate: -50% 0;
    left: 50%;
    height: auto;
    border-radius: 1em;

    box-shadow: rgba(72, 72, 72, 0.76) 10px 10px 20px;
}

button{
    border-radius: 10px;
    border: none;
    padding: 10px;
}